# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/

# dotenv environment files
.env
.env.*

# PyCharm
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# MongoDB local data / logs
*.log

#projectquide
PROJECT_GUIDE.txt
